* {
	margin: 0;
	padding: 0;
}

.seminar{
	color: white;
	text-align:  center;
	background-color: #23A9DD;
	margin: 0px 10%;
	width: 80%;
}

#a1 {
	color: white;
    text-decoration: underline red;
	font-size: 40px;
}

#a1:hover {
	color: black;
    text-decoration: underline wavy red;
    background-color: #23A9DD;
}

.atlas {
	width: 100%;
}

.atlas-center {
	width: 75.85%;
	margin: 0 10%;
	border: 30px solid silver ;
	border-top: none;
	border-bottom: 60px solid silver;
}

.atlas-center > p{
	text-align: center;
	font-weight: bold;
}

.atlas-center > h1{
	text-align: center;
	color: #FFD700;
	text-shadow    :
       2px  2px 1px #003366,
      -2px  2px 1px #003366,
       2px -2px 1px #003366,
      -2px -2px 1px #003366,
       2px  0px 1px #003366,
       0px  2px 1px #003366,
      -2px  0px 1px #003366,
       0px -2px 1px #003366;
}

img.img1{
	margin: 0 0 0 10%;
	width: 40%;
	height: 500px;
	float: left;
}

.atlas-price{
	height: 450px;
	width: 50%;
	padding: 100px 0 0 0;
	text-align: center;
	float: left;
}

.atlas-price > h3{
	font-size: 30px;
	text-align: center;
}

.atlas-price > p{
	font-size: 30px;
}

.atlas-price > h2{
	font-size: 50px;
	color: red;
	text-align: center;
}

#a2 {
	color: black;
    text-decoration: underline black;
	font-size: 30px;
	margin: 0 0 0 1%;
	text-decoration: line-through solid black;
}

.atlas-pri-box{
	margin: 0 0 40px 0;
}

.attention{
	background-color: #23A9DD;
	display: inline-block;
	margin: 0 0 30px 26%;
}

.attention > p {
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.img2 {
	text-align: center;
}
.img2 img{
	margin:0 auto;
}

#form-area1 {
	padding: 40px 0;
    margin: 5em 10%;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    display: none;
}
#form-area2 {
	padding: 40px 0;
    margin: 5em 10%;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    display: none;
}
#form-area3 {
	padding: 40px 0;
    margin: 5em 10%;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    display: none;
}
.formbutton {
	text-align: center;
}

#mainbutton1{
	text-align: center;
	margin-bottom: 50px;
}
#mainbutton2{
	text-align: center;
	margin-bottom: 50px;
}
#mainbutton3{
	text-align: center;
	margin-bottom: 50px;
}

.hissu {
	background-color: red;
	color: white;
	border-radius: 1px;
	margin: 0 0 0 20px;
}

.form-name {
	margin: 0 0 50px 15%;
	width: 35%;
	height: 50px;
	border-radius: 5px;
	font-size: 30px;
}

.form-mail {
	margin: 0 0 50px 15%;
	width: 70%;
	height: 50px;
	border-radius: 5px;
	font-size: 30px;
}

#form-area1 > p {
	font-size: 30px;
	margin: 0 0 0 15%;
}
#form-area2 > p {
	font-size: 30px;
	margin: 0 0 0 15%;
}
#form-area3 > p {
	font-size: 30px;
	margin: 0 0 0 15%;
}

#request-button {
	font-size: 40px;
	border-radius: 20px;
	color: white;
	background-color: green;
	padding: 20px 50px;
}

#request-button-1 {
	font-size: 40px;
	border-radius: 20px;
	color: white;
	background-color: #23A9DD;
	padding: 20px 50px;
}

.box12 {
	padding: 0.5em 1em;
    margin: 0 30% 50px;
    color: black;
    background: silver;
    border-bottom: solid 6px gray;
    border-radius: 9px;
}

.box12 p {
	text-align: center;
}

.main-lane {
	width: 60%;
	margin: 0 20%;
}

.main-text {
	width: 60%;
}

.main-text p {
	margin: 50px 0 0 33%;
}

.main-lane h2{
	color: #C00000;
	text-align: center;
	margin: 100px 0 50px;
	font-size: 30px;
}

.main-lane h3{
	color: #23A9DD;
	text-align: center;
}

.center p{
	text-align: center;
}

.frame {
	background-color: #23A9DD;
	text-align: center;
}

.frame img{
	margin: 50px 10% 0;
	width: 80%;
}

.frame img:last-child {
	margin-bottom: 50px;
}

.img3 {
	text-align: center;
}
.img3 img{
	margin:0 auto;
	width: 80%;
	height: 400px;
	margin: 0 0 50px;
}

.list1 {
	padding: 0.5em 1em;
    margin: 2em 20%;
    font-weight: bold;
    border: solid 3px #23A9DD;
    width: 50%;
}
.list1 li {
	list-style: none;
}
/*.list1-style {
	position: relative;
	top: -15px;
	left: 10px;
}*/
.list1-style img {
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
	right: 3px;
}

.img4 {
	text-align: center;
}

.img4 img {
	margin: 0 auto;
	width: 80%;
	height: 400px;
	margin: 50px 0;
}

.box13 {
	padding: 0.5em 1em;
    margin: 0 25% 50px;
    color: black;
    background: silver;
    border-bottom: solid 6px gray;
    border-radius: 9px;
    text-align: center;
}

.list2 {
	padding: 0.5em 2em;
    margin: 2em 20%;
    font-weight: bold;
    border: solid 3px #23A9DD;
    width: 50%;
}

.list3 {
	padding: 0.5em 2em;
    margin: 2em 20%;
    font-weight: bold;
    border: solid 3px #C00000;
    width: 50%;
}

.img5 {
	
	width: 30px;
	height: 30px;
}

.img6 {
	text-align: center;
}
.img6 img {
	margin: 0 auto;
	width: 80%;
	height: 400px;
	margin: 50px 0;
}
